@font-face {
    font-family: 'ssf4';
    src: url('../fontes/StreetPower-nRXjO.otf');
}

@font-face {
    font-family:'comand';
    src: url('../fontes/Act_Of_Rejection.ttf');
}

@font-face {
    font-family:'nn2s' ;
    src: url('../fontes/Morning\ Beach.ttf');
}